<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">

  <testsuite name="Tests">
    <directory>tests</directory>
  </testsuite>

  <source>
    <include>
      <directory>lib</directory>
    </include>
  </source>

</phpunit>
