name: Static Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  static_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: none # disable xdebug, pcov
      - run: composer install --no-progress --no-interaction --no-suggest
      - run: composer static-tests
